{% extends 'viewResultBase.html' %}
{% block viewresults %}
{% load static %}




<body>
<nav class="navbar navbar-expand-lg bg-warning text-uppercase fixed-top" style="background: #AAE8D1 !important;" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">PSP</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'afterLogin' %}">Main Page</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!--header class-->
<header class="masthead bg-dark text-white text-center" style="background: #63B1CE  !important">
    <div class="container d-flex align-items-center flex-column">

      <!-- Masthead Avatar Image -->
      <img class="masthead-avatar mb-5" src= "{% static 'images/header.png' %}" alt="">

      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">PSP: Predicting Student Profile</h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">

        <br>

      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0">{{div| safe}}</p>
      </div>
    </div>
  </header>




</body>


{% endblock %}

