{% extends 'base.html' %}

{% block studentProfile %}
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Student Profile Evaluation Form</h2>
                </div>
                <div class="card-body">
                    <form method="POST"  action="index">
                        {% csrf_token %}
                        <div class="form-row m-b-55">
                            <div class="name">Full Name</div>
                            <div class="value">
                                        <div class="input-group">
                                            {{ form.name }}
                                        </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">GRE</div>
                            <div class="value">
                                <div class="input-group">
                                {{ form.gre }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">WORK EX</div>
                            <div class="value">
                                <div class="input-group">
                                {{ form.workex }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Undergrad CGPA</div>
                            <div class="value">
                                <div class="input-group">
                                {{ form.undergrad }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Quantitative Aptitude</div>
                            <div class="value">
                                <div class="input-group">
                                {{ form.quants }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Verbal Ability</div>
                            <div class="value">
                                <div class="input-group">
                                {{ form.verbal }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">IELTS Score</div>
                            <div class="value">
                                <div class="input-group">
                                {{ form.ielts }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">TOEFL Score</div>
                            <div class="value">
                                <div class="input-group">
                                {{ form.toefl }}
                                </div>
                            </div>
                        </div>

                        <div>
                            <button class="btn btn--radius-2 btn--red" type="submit">Submit Profile</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
